<div class="header-wrapper">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center px-4">
            <div class="logo">
                <a href="/">
                    <span>
                        <img src="../../../assets/images/logo.png" alt="Logo" title="Logo"/>
                    </span>
                </a>
            </div>
            <div class="company-name">  
                <a href="/home">
                    SYNTHETIC DATA ANIME GENERATOR
                </a>
            </div>
            <ul class="nav-menu mb-0">
                <li class="nav-item">
                    <ngx-spinner
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        type="ball-scale-multiple"
                        >
                        <p style="font-size: 20px; color: white">Loading...</p>
                    </ngx-spinner>
                    <a class="nav-link" (click)= "showingimgspinner()"  routerLink="/">
                        ModelGenerator
                    </a>
                </li>
                <li class="nav-item">
                    <ngx-spinner>
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </ngx-spinner>
                    <a class="nav-link" (click)= "showingimgspinner()"  routerLink="/imageGenerator">
                        ImageGenerator
                    </a>
                </li>
            </ul>
        </div>  
    </div>
</div>