<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-8 pt-2 pb-2 pb-sm-5 pt-sm-5">
            <div>
                <form class="form">
                    <div class="on-off-control d-flex from-group">
                        <label for="" class="label mr-4">Enable Model</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked />
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="from-group">
                        <label class="label ">Model ID</label>
                        <input type="text" class="form-control sm-input"/>
                    </div>
                    <div class="from-group">
                        <label class="label ">Model name</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="from-group d-flex mb-4 ">
                        <label class="label ">INPUT IMAGES</label>
                        <div class="dropdown show">
                            <button class="btn primary-dropdown " type="button" id="dropdownMenuButton"  >
                                choose type <i class="fa fa-chevron-down dropdown-icon" aria-hidden="true"></i>
                            </button>
                            <form class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckBox1">
                                    <label class="custom-control-label" for="customCheckBox1">orignal image</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckBox2">
                                    <label class="custom-control-label" for="customCheckBox2"> segmenited image</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckBox3">
                                    <label class="custom-control-label" for="customCheckBox3">textture image</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckBox4">
                                    <label class="custom-control-label" for="customCheckBox4">sketch image</label>
                                </div>
                                <div>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <button class="add-new-button">
                                        add new
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="from-group d-flex mb-4 ">
                            <label class="label ">OUTPUT IMAGES</label>
                            <div class="dropdown show">
                                <button class="btn primary-dropdown " type="button" id="dropdownMenuButton" >
                                    choose type <i class="fa fa-chevron-down dropdown-icon" aria-hidden="true"></i>
                                </button>
                                <form class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckBox5">
                                        <label class="custom-control-label" for="customCheckBox5"> intermediate</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckBox6">
                                        <label class="custom-control-label" for="customCheckBox6"> final</label>
                                    </div>
                                    <div>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <button class="add-new-button">
                                            add new
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="from-group">
                        <label class="label ">MAX INPUT SIZE</label>
                        <input type="text " class="form-control sm-input"/>
                    </div>
                    <div class="from-group">
                        <label class="label ">MAXiMUM IMAGE SIZE</label>
                        <input type="text" class="form-control xs-input"/>
                        <span class="image-size">MB</span>
                    </div>
                    <div class="from-group faqs">
                        <label class="label ">FAQs</label>
                        <div class="input-type-group">
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="input-type-group">
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="button">
                            save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
