<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-8 pt-2 pb-2 pb-sm-5 pt-sm-5">
            <div>
                <form class="form">
                    <div class="on-off-control d-flex from-group">
                        <label for="" class="label mr-4">Enable Model</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked />
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="from-group">
                        <label class="label ">Model ID</label>
                        <input type="text" class="form-control model-id"/>
                    </div>
                    <div class="from-group">
                        <label class="label ">Model name</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="from-group d-flex align-items-center">
                        <label class="label ">INPUT IMAGES</label>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown-group " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                    </div>
                    <div class="from-group d-flex align-items-center">
                        <label class="label ">OUTPUT IMAGES</label>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown-group " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                    </div>
                    <div class="from-group">
                        <label class="label ">MAX INPUT SIZE</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="from-group">
                        <label class="label ">MAXiMUM IMAGE SIZE</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="from-group faqs d-flex">
                        <label class="label ">FAQs</label>
                        <div>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                        </div>
                        <div>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="save-button">
                            save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>